/* Full-width input fields */
input[type=text]{
    width: 20%;
    padding: 5px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    align-self: auto;
    align-content: center
   
  }

  label{
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: right;
  }

  input[type=button]{
    width: 10%;
    padding: 5px;
    display: -moz-marker;
    font: x-large;
    border: none;
    background: #f1f1f1;
    background-color: cadetblue
  }
  label{
    display: -moz-inline-box;
    color: cadetblue;
    border: #f1f1f1;
    font: bolder;
    font-display: inherit
  }

  button{
    width: 15%;
    padding: 5px;
    display: -moz-marker;
    font: x-large;
    border: none;
    background: #f1f1f1;
    background-color: cadetblue
  }
 